
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isAuth() {
      return request.auth != null;
    }

    function isSuperAdmin() {
      return isAuth() && exists(/databases/$(database)/documents/super_admins/$(request.auth.uid));
    }

    function getUserSchoolId() {
      return get(/databases/$(database)/documents/utilisateurs/$(request.auth.uid)).data.schoolId;
    }

    function isSchoolMember(schoolId) {
      return isAuth() && getUserSchoolId() == schoolId;
    }

    function isDirector(schoolId) {
        return isSchoolMember(schoolId) && get(/databases/$(database)/documents/ecoles/$(schoolId)).data.directorId == request.auth.uid;
    }
    
    // Super admins can read/write anywhere
    match /{document=**} {
        allow read, write: if isSuperAdmin();
    }
    
    match /utilisateurs/{userId} {
        allow read, write: if isAuth() && request.auth.uid == userId;
    }
    
    match /ecoles/{schoolId} {
      allow create: if isAuth(); 
      allow read: if isSchoolMember(schoolId);
      allow update, delete: if isDirector(schoolId);
    }

    match /ecoles/{schoolId}/{document=**} {
      allow read, write: if isSchoolMember(schoolId);
    }
  }
}
